<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>projecttus</title>
    <style type="text/css">
        .mybox { border:1px solid; padding:10px; }
    </style>
</head>
<body>
    <form action="/" method="GET">
        <p>usrid: <input type="text" name="usrid"/></p>
        <p>pw: <input type="text" name="pw"/></p>
        <p><input type="submit" value="submit"/></p>
    </form>

    {% if (usrid == "admin") and (pw == "pw1122") %}
    <div class="mybox">
        {% for elements in alltitlelist_loaded_important %}
        <li><a href="/important_admin_pw1122/{{loop.index0}}">{{elements}}</a></li>
        {% endfor %}
    </div>

    {% for elements in alltitlelist_loaded_normal %}
    <li><a href="/normal_admin_pw1122/{{loop.index0}}">{{elements}}</a></li>
    {% endfor %}

    {% else %}
    <p>please enter valid usrid and pw.</p>
    {% endif %}
</body>
</html>